:root {
    --color-accent: #ffca0c;
    --color-text: #ffffff;
    --color-background: #100020;

    --radius-card: 18px;

    --shadow-button: 0 4px 6px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    position: relative;
}
.page-wrapper {
    min-height: 100vh;
    background-image: url(images/space.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
}
.logo{
    width: 120px;
    padding: 20px 0;
    cursor: pointer;
}

.content {
    top: 65%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
    background: rgba(255, 255, 255, 0.045);
    backdrop-filter: blur(5px);
    padding: 30px;
    border-radius: 18px;
}
.content h1 {
    font-size: 64px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.content h1 span {
    color: var(--color-accent);
}
.notify-btn{
    background: none;
    background-color: var(--color-accent);
    border: none;
    border-radius: var(--radius-card);
    box-shadow: var(--shadow-button);
    outline: none;
    padding: 12px 16px;
    color: hsl(272, 100%, 7%);
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    position: relative;
}

.content-button {
    width: 15px;
    margin-left: 10px;
}
.launch-time {
    width: 80%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.launch-time div {
    text-align: left;
    color: #fff;
}
.launch-time div p{
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: -14;
}
.ship {
    width: 40px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: ship 4s infinite;
    background-color: var(--color-accent);
}
@keyframes ship{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}